<h3 appHighlight>Hello, Directives!</h3>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum suscipit
  exercitationem quo ad inventore ut culpa.
</p>

<div appMyRouterLink="/login">Login</div>
<div appMyRouterLink="/register">Register</div>

<hr>

<div *ngIf="true">Lorem ipsum dolor sit</div>

<ng-template [ngIf]="true">
    <div>Lorem ipsum dolor sit</div>
</ng-template>

<button (click)="toggleMe()">Toggle me</button>

<div *appMyStructural="isShown">Structural Dir Usage</div>