<div>
  <form [formGroup]="registerForm" (ngSubmit)="handleSubmit()">
    <div class="form-group">
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" formControlName="email" required/>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password: </label>
      <input
        type="text"
        id="password"
        name="password"
        formControlName="password"
      />
    </div>

    <div *ngIf="registerForm.get('email')?.touched"> <!-- changed, valid -->
        <p class="error-msg" *ngIf="registerForm.get('email')?.errors?.['required']">Error: Email is required!</p>
    </div>

    <div *ngIf="registerForm.get('password')?.errors?.['maxlength']">
      <p class="error-msg" >Error: password is longer than {{registerForm.get('password')?.errors?.['maxlength']?.requiredLength}} caracters!</p>
    </div>

    <button>Register</button>
  </form>
</div>
<hr />
<div routerLink="/home">Home</div>
<div routerLink="/login">Login</div>
