h3 {
  color: white;
  background-color: black;
  text-align: center;
  padding: 1.5em 0;
  font: 2em Verdana, sans-serif;
}

ul.nav-ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  background-color: grey;
}

ul .btn {
  text-transform: uppercase;
  cursor: pointer;
}
ul a {
  text-decoration: none;
  color: white;
}
